### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [2]:
players = purchase_data['SN'].nunique()
players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# number of unique items
item_count = purchase_data['Item Name'].nunique()

# average price
avg_price = purchase_data['Price'].mean()

# total number of purchases
total_purch = purchase_data['Item ID'].count()

# total revenue
total_revenue = purchase_data['Price'].sum()

# dataframe to hold the above results
purch_analysis = {
    "# of Unique Items": [item_count],
    "Average Price":[avg_price],
    "Total # of Purchases": [total_purch],
    "Total Revenue": [total_revenue]
}
purch_analysis = pd.DataFrame(purch_analysis, columns=purch_analysis.keys())

# Optional: give the displayed data cleaner formatting
purch_analysis['Average Price'] = purch_analysis['Average Price'].astype(float).map("${:,.2f}".format)
purch_analysis['Total Revenue'] = purch_analysis['Total Revenue'].astype(float).map("${:,.2f}".format)
purch_analysis

   # of Unique Items Average Price  Total # of Purchases Total Revenue
0                179         $3.05                   780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# percentage and count of players
player_count = purchase_data.loc[:, ['SN', 'Age','Gender']].drop_duplicates()
player_count = player_count['Gender'].value_counts()
player_percent = (player_count/players)


demos_df = {
    "Total Count":player_count,
    "Percentage":player_percent
    }
demos_df = pd.DataFrame(demos_df, columns=demos_df.keys()).sort_index()
format_demos = {"Percentage": '{:.2%}'}
demos_df.style.format(format_demos)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
gender_df = purchase_data.groupby('Gender')

# purchase count
gender_purch = purchase_data.groupby(['Gender']).count()['Price']

# average purchase price
gender_avg_price = purchase_data.groupby(['Gender']).mean()['Price']

# total purchase value per person by gender
gender_total_value = purchase_data.groupby(['Gender']).sum()['Price']

# average total by gender
avg_total = (gender_avg_price/gender_purch)

purch_df = {
    "Purchase Count":gender_purch,
    "Average Price":gender_avg_price,
    "Total Purchase":gender_total_value,
    "Avg Total per Person":avg_total
    }
purch_df = pd.DataFrame(purch_df, columns=purch_df.keys()).sort_index()
format_purch = {'Average Price':'${:,.3}','Total Purchase':'${:,.6}', 'Avg Total per Person':'${:,.2}'}
purch_df.style.format(format_purch)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]

group_names = ['<10', '11-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data['Age Range'] = pd.cut(purchase_data['Age'], bins, labels = group_names, include_lowest = True)

age_count = purchase_data['Age Range'].value_counts()

age_percent = (purchase_data['Age Range'].value_counts()/players)

age_df = {
    'Age Count':age_count,
    'Percentage':age_percent
}
age_df = pd.DataFrame(age_df, columns=age_df.keys()).sort_index()
format_age = {"Percentage": '{:.2%}'}
age_df.style.format(format_age)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# purchase count
age_purch = purchase_data.groupby(['Age Range']).count()['Age']

# average purchase price
age_avg_price = purchase_data.groupby(['Age Range']).mean()['Price']

# total purchase value per person by gender
age_total_value = purchase_data.groupby(['Age Range']).sum()['Price']

# average total by gender
age_avg_total = (age_total_value/age_purch)

age_demo = {
    "Purchase Count":age_purch,
    "Average Price":age_avg_price,
    "Total Purchase":age_total_value,
    "Avg Total per Person":age_avg_total
    }
age_demo = pd.DataFrame(age_demo, columns=age_demo.keys()).sort_index()
format_demo = {'Average Price':'${:,.3}','Total Purchase':'${:,.6}', 'Avg Total per Person':'${:,.3}'}
age_demo.style.format(format_demo)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
spender_names = purchase_data.groupby('SN')

# purchase count
spender_purch = purchase_data.groupby(['SN']).count()['Item ID']

# average purchase price
spender_avg_price = purchase_data.groupby(['SN']).mean()['Price']

# total purchase value by spender
spender_total_value = purchase_data.groupby(['SN']).sum()['Price']

# average total by spender
spender_avg_total = (spender_total_value/spender_purch)

spender_df = {
    "Purchase Count":spender_purch,
    "Average Price":spender_avg_price,
    "Total Purchase":spender_total_value,
    "Avg Total per Spender":spender_avg_total
    }
spender_df = pd.DataFrame(spender_df, columns=spender_df.keys()).sort_values(['Total Purchase'], ascending=False).head()
format_spender = {'Average Price':'${:,.3}','Total Purchase':'${:,.6}', 'Avg Total per Spender':'${:,.3}'}
spender_df.style.format(format_spender)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
# item name
item_names = purchase_data['Item ID'].value_counts()

# average purchase price
item_avg_price = purchase_data.groupby(['Item ID']).mean()['Price']

# total purchase value by spender
item_total_value = purchase_data.groupby(['Item ID']).sum()['Price']

# average total by spender
item_avg_total = (item_total_value/item_names)

item_df = {
    "Purchase Count":item_names,
    "Average Price":item_avg_price,
    "Total Purchase":item_total_value,
    "Avg Total per Item":item_avg_total
    }
item_df = pd.DataFrame(item_df, columns=item_df.keys()).sort_values(['Purchase Count'], ascending=False).head()
format_item = {'Average Price':'${:,.3}','Total Purchase':'${:,.6}', 'Avg Total per Item':'${:,.2}'}
item_df.style.format(format_item)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [19]:
profit_df = {
    "Purchase Count":item_names,
    "Average Price":item_avg_price,
    "Total Purchase":item_total_value,
    "Avg Total per Item":item_avg_total
    }
profit_df = pd.DataFrame(profit_df, columns=profit_df.keys()).sort_values(['Total Purchase'], ascending=False).head()
format_profit = {'Average Price':'${:,.3}','Total Purchase':'${:,.6}', 'Avg Total per Item':'${:,.2}'}
profit_df.style.format(format_profit)